body {
  background-color: #282c34;
}
.App {
  text-align: center;
  width: 100%;
}
.App h1 {
  color: azure;
  font-size: 32px;
  padding-top: 32px;
}
.App h3 {
  color: azure;
  font-size: 20px;
  font-weight: 700;
}
.App #authenticator {
  max-width: 900px;
  width: 100%;
  margin: 16px auto;
}
.App #authenticator .auth-options {
  display: flex;
  justify-content: center;
  gap: auto;
}
.App #authenticator .auth-options #steam-id-form {
  flex-basis: 40%;
  text-align: left;
}
.App #authenticator .auth-options #steam-id-form label {
  display: block;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 20px;
  color: azure;
}
.App #authenticator .auth-options #steam-id-form .input-container {
  display: flex;
  align-items: center;
}
.App #authenticator .auth-options #steam-id-form .input-container #steam-id-input {
  height: 30px;
  width: 300px;
  border-radius: 4px 0 0 4px;
  border: none;
  padding: 4px 8px;
  background-color: azure;
}
.App #authenticator .auth-options #steam-id-form .input-container #steam-id-form-submit-btn {
  height: 38px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #07F;
  border: none;
  padding: 4px 8px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  color: azure;
}
.App #authenticator .auth-options #steam-id-form .steam-id-form-hint {
  margin-top: 4px;
  font-style: italic;
  color: azure;
  font-size: 12px;
}
.App #authenticator .auth-options #steam-authenticator {
  flex-basis: 40%;
}
.App #tier-list {
  max-width: 900px;
  width: 100%;
  margin: 20px auto;
}
.App #tier-list .tier-list-game {
  width: 100px;
  height: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  cursor: grab;
}
.App #tier-list .tier-list-game.dragging {
  cursor: grabbing;
}
.App #tier-list .tier-list-game span {
  -webkit-text-stroke: 0.5px #111;
  font-size: 24px;
  font-weight: 800;
  max-width: 100%;
  word-wrap: break-word;
  position: relative;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: azure;
}
.App #tier-list .tier-list-game img {
  border-radius: 4px;
  position: absolute;
}
.App #tier-list .games-header-row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 24px 0;
  position: relative;
}
.App #tier-list .games-header-row label {
  color: azure;
  font-weight: 600;
  font-size: 16px;
}
.App #tier-list .games-header-row label select {
  height: 30px;
  width: 180px;
  border-radius: 4px;
  border: none;
  padding: 4px 8px;
  background-color: azure;
}
.App #tier-list .games-header-row h3 {
  position: absolute;
  width: 100%;
  text-align: center;
}
.App #tier-list .tier-list-games {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  margin: 0 auto;
  justify-content: center;
}
.App #tier-list .tier-list-rows {
  border-radius: 4px;
  border: 1px #111 solid;
  box-shadow: 0px 0px 4px 4px rgba(30, 30, 30, 0.6);
}
.App #tier-list .tier-list-rows .tier-list-row {
  display: flex;
  border-bottom: 1px #111 solid;
}
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header {
  position: relative;
  flex: 0 0 180px;
  border-right: 1px #111 solid;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  font-weight: 700;
  min-height: 116px;
  color: azure;
  background-color: red;
}
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header:hover {
  color: #ffffff;
}
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header:hover .remove-tier-btn,
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header:hover .move-tier-up-btn,
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header:hover .move-tier-down-btn,
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header:hover .change-tier-color-btn,
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header:hover .change-tier-color-input {
  visibility: visible;
  cursor: pointer;
}
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header .remove-tier-btn {
  visibility: hidden;
  position: absolute;
  top: -4px;
  right: 4px;
  background-color: transparent;
  border: none;
  -webkit-text-stroke: 0.5px #111;
  color: azure;
  font-size: 24px;
  font-weight: 700;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header .move-tier-up-btn,
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header .move-tier-down-btn {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  visibility: hidden;
  border: none;
  font-size: 24px;
  font-weight: 700;
  background-color: transparent;
  color: azure;
  -webkit-text-stroke: 0.5px #111;
}
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header .change-tier-color-btn,
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header .change-tier-color-input {
  visibility: hidden;
  position: absolute;
  left: 4px;
  vertical-align: middle;
}
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header .move-tier-down-btn {
  rotate: 180deg;
}
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header .change-tier-color-btn {
  border: none;
  background-color: transparent;
}
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header .change-tier-color-input {
  height: 30px;
  padding: 1px;
  width: 30px;
  background-color: azure;
}
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header .tier-name {
  padding: 8px;
  vertical-align: middle;
  line-height: 24px;
  font-size: 24px;
  -webkit-text-stroke: 0.5px #111;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  cursor: pointer;
}
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-header .change-tier-name-input {
  height: 30px;
  width: 100px;
  border-radius: 4px;
  border: none;
  padding: 4px 8px;
  background-color: azure;
}
.App #tier-list .tier-list-rows .tier-list-row .tier-list-row-games {
  padding: 8px;
  min-height: 100px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  width: 100%;
  gap: 8px;
}
.App #tier-list .tier-list-rows .add-row-btn {
  padding: 8px 0;
  background-color: #07F;
  color: azure;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}
.App #tier-list .tier-list-rows .add-row-btn:hover {
  color: #ffffff;
  background-color: #3392ff;
}
